/*
  Global CSS file
*/

::-webkit-input-placeholder {
	color:#aaa;
	font-weight: 300;
}
::-moz-placeholder {
	color:#aaa;
	font-weight: 300;
}
:-ms-input-placeholder {
	color:#aaa;
	font-weight: 300;
}
input:-moz-placeholder {
	color:#aaa;
	font-weight: 300;
}

body {
	background-color: #757575 !important;
	margin: 0 0 50px;
}

html {
    position: relative;
    min-height: 100%;
}