:root {
  --banner-height: 50px;
}

.point{
  cursor: pointer;
}

.right {
    float: right !important;
}

.header {
  background-size: cover;
  border-bottom: 1px solid #ccc;

}

.content {
  width: 100%;
  max-width: 980px;
  margin: auto;
  padding: 64px 16px;
  overflow: auto;
}

.banner {
  width: 100%;
  min-height: var(--banner-height);
  background-color: #005BBB;
  display: inline-block;
  border-bottom: 1px solid black;
}

.title{
  height: 100%;
  color: white;
  line-height: var(--banner-height);
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;
}

.inactiveLink {
   pointer-events: none;
   cursor: default;
}

.headerIcon{
  line-height: 2.2 !important;
  cursor: pointer;
}

.unselectable{
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #E4E1E1;
  min-height: 50px;
/*  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12), 0px 1px 4px rgba(0, 0, 0, 0.12);*/
}

.travelLink {
  white-space: nowrap;
  letter-spacing: 0px;
  font-size: 24px;
  font-weight: 900;
  margin-left: 25px;
  width: 0px;

}