:root {
  --banner-height: 50px;
}


.right {
    float: right !important;
}

.header {
  background-size: cover;
  border-bottom: 1px solid #ccc;

}

.content {
  width: 100%;
  max-width: 980px;
  margin: auto;
  padding: 64px 16px;
  overflow: auto;
}

.banner {
  width: 100%;
  min-height: var(--banner-height);
  background-color: #005BBB;
  display: inline-block;
  border-bottom: 1px solid black;
}

.button{
  color: white !important;
  font-size: 20px !important;
  font-weight: bold !important;
}

.toolbar_group {
  color: #005bbb !important;
  background: #005bbb !important;
}

.inactiveLink {
   pointer-events: none;
   cursor: default;
}

.headerIcon{
  line-height: 2.2 !important;
  cursor: pointer;

}
