#top{
	background-color: #005BBB;
	width: 100%;
	min-width: 100%;
	display: block;
	color:white;
}

.card{
	min-width: 250px;
	min-height: 250px;
	width: 250px;
	height: 250px;
	background-color: black;
}